

:root{
    --cor-verde-escuro: #003900;
    --cor-verde-medio: #7FB500;
    --cor-cinza1: #E8EBEB;
    --cor-cinza2: #D7D7D7;
    --cor-cinza3: #7E7E7E;
    --cor-preto: #000000;
    --cor-verde-claro: #E0FA9C;
    --cor-vermelho: #961A00;
    --cor-verde-claro2: #B6CB80; 

    --borda: 1px solid var(--cor-cinza3);
    --borda-arredondada: 3px;

    --tamanho-fonte-lg: 20px;
    --tamanho-fonte-md: 16px;
    --tamanho-fonte-sm: 14px;
}

@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf),
    url(../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face{
    font-family: Rozha One;
    src: url(../fonts/Rozha_One/RozhaOne-Regular.ttf);
}

@font-face{
    font-family: Sedan SC;
    src: url(../fonts/Sedan_SC/SedanSC-Regular.ttf);
}

/*SELETOR GLOBAL*/
*{
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*o valor total do tamanho do elemento conta tanto com espacos internos ou ate mesmo a borda*/
}

body{
    background-color: var(--cor-cinza1);
}

h1{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

input{
    width: 100%;
    height: 35px;
    border: var(--borda);
    background-color: var(--cor-verde-claro2);
}

.formulario-botao-verde{
    background-color: var(--cor-verde-medio);
    border-radius: var(--borda-arredondada);
    border: none;
    height: 35px;

    color: var(--cor-cinza1);
    width: 100%;
    font-size: var(--tamanho-fonte-sm);
    font-weight: 600;
}

.formulario-botao-cinza{
    background-color: var(--cor-cinza3);
    border-radius: var(--borda-arredondada);
    border: none;
    height: 35px;

    color: var(--cor-cinza1);
    width: 100%;
    font-size: var(--tamanho-fonte-sm);
    font-weight: 600;
}